h3.offersHeader {
  font-family: 'Paytone One', sans-serif;
  font-size: 14px;
  color: #1e6cb6;
  margin-top: 40px;
}

.carousel_inner {
  float:left; /* important for inline positioning */
  width:870px; /* important (this width = width of list item(including margin) * items shown */ 
  overflow: hidden;  /* important (hide the items outside the div) */
  margin-bottom: 30px;
}



.carousel_ul {
  position:relative;
  left:-180px; /* important (this should be negative number of list items width(including margin) */
  list-style-type: none; /* removing the default styling for unordered list items */
  margin: 0px;
  padding: 0px;
  width:9999px;
  padding-bottom:10px;
}

.carousel_ul li{
  float: left; /* important for inline positioning of the list items */                                    
  width:150px;  /* fixed width, important */
  padding:0px;
  height:100px;
  background: #000000;
  margin-top:10px;
  margin-bottom:10px; 
  margin-left:5px; 
  margin-right:25px; 
}

.carousel_ul li img {
  .margin-bottom:-4px; /* IE is making a 4px gap bellow an image inside of an anchor (<a href...>) so this is to fix that*/
  cursor:pointer;
  cursor: hand; 
  border:0px; 
}

.left_scroll, .right_scroll{
  float:left; 
  height:130px; 
  width:35px; 
}

.left_scroll img, .right_scroll img{
  cursor: pointer;
  cursor: hand;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
}
