.greenheader {
  width: 1021px;
  height: 6px;
  margin: 0 auto 12px;
  background: url(../images/greenheader.png) no-repeat left;
}

.contentDiv{
	height:auto;	
}

.contentDiv .breadCrumbs {
  font-family: Arial;
  font-size: 10px;
  color: #000;
  width:auto;
  height:auto;
  float:left;
}

h2.label {
  font-family: 'Paytone One', sans-serif;
  font-size: 28px;
  color: #1e6cb6;
  font-weight: normal;
  float:left;
  clear:left;
}

.contentDiv-main-wishlist {
  width: 1021px;
  margin: 16px auto 0;
}

.contentDiv-main-wishlist .wishlist-list .header {
  display: inline-block;
}
.contentDiv-main-wishlist .wishlist-list .header:after {
  clear: both;
}

.contentDiv-main-wishlist .wishlist-list .header .col {
  font-family: Arial, sans-serif;
  color: #68c04a;
  font-size: 12px;
  font-weight: bold;
  float: left;
  height: 26px;
}
.contentDiv-main-wishlist .wishlist-list .header .a {
  width: 300px;
  margin-left: 15px;
}
.contentDiv-main-wishlist .wishlist-list .header .b {
  width: 177px;
}
.contentDiv-main-wishlist .wishlist-list .header .c {
  width: 65px;
}
.contentDiv-main-wishlist .wishlist-list .header .d {
  width: 120px;
}
.contentDiv-main-wishlist .wishlist-list .list {
}

.contentDiv-main-wishlist .wishlist-list .list .item {
  min-height: 185px;
  background: url(../images/wishlist-item-backing.png) repeat-x;
  width: 945px;
}

.contentDiv-main-wishlist .wishlist-list .list .item .col {
  float: left;
  margin: 24px 12px;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.contentDiv-main-wishlist .wishlist-list .list .item .thumb {
  margin-top: 12px;
  width: 100px;
}

.contentDiv-main-wishlist .wishlist-list .list .item .thumb img {
  -webkit-box-shadow: 0 0 8px 2px rgba(0,0,0,.3);
  -moz-box-shadow: 0 0 8px 2px rgba(0,0,0,.3);
  box-shadow: 0 0 8px 2px rgba(0,0,0,.3);
}
.contentDiv-main-wishlist .wishlist-list .list .item .title a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  display: block;
  width: 155px;
}

.contentDiv-main-wishlist .wishlist-list .list .item .title .isbn {
  display: block;
  margin-bottom: 20px;
}

.contentDiv-main-wishlist .wishlist-list .list .item .mprice {
  text-align: right;
  width: 75px;
}
.contentDiv-main-wishlist .wishlist-list .list .item .price {
  font-weight: bold;
  text-align: right;
  width: 100px;
}

.contentDiv-main-wishlist .wishlist-list .list .item .quantity {
  font-weight: bold;
  margin-top: 16px;
  text-align: right;
}
.contentDiv-main-wishlist .wishlist-list .list .item .quantity img {
  display: block;
  margin-bottom: 12px;
}


.contentDiv-main-wishlist .wishlist-list .list .item .quantity a {
  color: #68c04a;
  font-weight: bold;
  text-decoration: none;
}


.contentDiv-main-wishlist .wishlist-list .list .item .total {
  font-weight: bold;
  text-align: right;
  width: 70px;
}

.contentDiv-main-wishlist .wishlist-list .list .item .cta {
  margin-top: 21px;
  text-align: right;
  width: 200px;
}

.contentDiv-main-wishlist .wishlist-list .list .item .cta .savings {
  font-weight: bold;
  font-size: 16px;
  color: #1969ad;
}

.contentDiv-main-wishlist .wishlist-list .list .item .cta .basket {
  margin-left: 85px;
  margin-top: 80px;
}

.wishlist-total {
  background-color: #e8e8e8;
  font-family: Arial, sans-serif;
  font-size: 12px;
  height: 37px;
  margin-bottom: 9px;
  width: 945px;
}

.wishlist-total .items {
  float: left;
  margin-left: 470px;
  margin-top: 11px;
  text-align: right;
  width: 130px;
}

.wishlist-total .price {
  float: left;
  font-weight: bold;
  text-align: right;
  margin-top: 11px;
  width: 100px;
}

.wishlist-total .cta {
  float: left;
  margin-top: 7px;
  margin-left: 100px;
}

.wishlist-bottombtns .continue {
  float: left;
  margin-left: 716px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.wishlist-bottombtns .checkout {
  float: left;
  margin-left: 14px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.credit-card{
	width:262px;
	height:55px;
	float:right;
	margin-right:78px;
}

.order-title{

	width:921px;
	height:22px;
	float:right;
	margin-top:22px;
	margin-right:35px;
	padding:12px;
	background-color:#67C247;
	background: -linear-gradient(center top , #67C247, #2FA206) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(center top , #67C247, #2FA206) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(center top , #67C247, #2FA206) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(center top , #67C247, #2FA206) repeat scroll 0 0 transparent;
	background: -ms-linear-gradient(center top , #67C247, #2FA206) repeat scroll 0 0 transparent;
    border-radius: 5px 5px 0px 0px;
    

}

.credit-balance{
 	width:120px;
	height:12px;
	float:left;
	background-color:#1969AD;
	margin-top:9px;
	margin-bottom:9px;
	border-radius: 5px 5px 5px 5px;
	padding-top:4px;
	padding-left:10px;
	padding-right:8px;
	padding-bottom:14px;
	
}

.credit-balance p{
	color: #FFFFFF;
    font-family: 'Paytone One',sans-serif;
    font-size: 14px;
    font-weight: normal;
	
}

.voucher-coupon{
	width:945px;
	height:56px;
	float:left;
	background-color:#6B787E;
	border-radius: 5px 5px 0px 0px;
	

	
}

.order-total{
	background: url("../images/wishlist-item-backing.png") repeat-x scroll 0 0 transparent;
    min-height: 348px;
    width: 945px;
	margin-top:64px;
	margin-bottom:20px;
}

.enter-voucher{
	width:144px;
	height:14px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	margin-top:19px;
	margin-left:130px;
}

.enter-code {
	width:154px;
	height:14px;
	float:left;
	clear:right;
	background-color:#FFF;
	margin-left:377px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000000;
	border-radius: 5px 5px 5px 5px;
	padding:10px;
	margin-top:10px;
	
}

.update-total {
	width:76px;
	height:14px;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	margin-top:19px;
	margin-right:11px;
}

.total-list{
	width:574px;
	height:134px;
	float:left;	
	margin-left:130px;
	margin-bottom:20px;
	margin-top:20px;
}

.final-total{
	width:818px;
	height:42px;
	float:left;	
	background-color:#E8E8E8;
	margin-left:60px;
}

.checkout-container{
	width:612px;
	height:32px;
	float:left;	
	margin-left:128px;
	margin-top:20px;
}

.total-items{
	width:170px;
	height:134px;
	float:left;	
		
}

.total-items li{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:18px;
}

.shopping-cost li{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:18px;
	
}

.shoppinglist-spacing{
	margin-bottom:28px;
}

.total-items ul{
	list-style-type: none;
}

.shopping-cost ul{
	list-style-type: none;
}

.shopping-cost{
	width:50px;
	height:134px;
	float:right;	
	text-align:right;
	
}

.gst{
	font-style:italic;
	font-weight:normal;	
}

.total-text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	float:left;
	margin-left:70px;
	margin-top:16px;
}

.total-cost{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	float:right;
	margin-right:174px;
	margin-top:16px;
}

.checkout-text{
	width:380px;
	height:auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}

.checkout-button{
	background: -moz-linear-gradient(center top , #67C247, #2FA206) repeat scroll 0 0 transparent;
	background-color:#67C247;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-family: 'Paytone One',sans-serif;
    font-size: 12px;
    margin-top:4px;
    outline: medium none;
    padding: 0 10px 4px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;	
}

.credit-cardtwo img{
	width:262px;
	height:55px;
	float:right;
	margin-top:50px;
	margin-right:-214px;
	
}

.credit-cardthree img{
	width:262px;
	height:55px;
	float:right;
	margin-top:10px;
	margin-right:150px;
	margin-bottom:40px;
	
	
}

.credit-cardfour img{
	width:262px;
	height:55px;
	float:right;
	margin-top:10px;
	margin-right:78px;
	margin-bottom:40px;
	
	
}

.ship-addressDiv{
	background: url("../images/wishlist-item-backing.png") repeat-x scroll 0 0 transparent;
    min-height: 370px;
    width: 945px;
	margin-top:64px;
	margin-bottom:20px;
}

.shipping-address{
	width:340px;
	height:220px;
	float:left;
	padding-left:18px;
	padding-top:12px;
	
}

.shipping-form{
	width:466px;
	height:366px;
	float:right;
	padding-top:12px;

	
}

.ship-DetailHeading{
	font-family: 'Paytone One',sans-serif;
    font-size: 16px;
	color:#68C04A;
	
}

.ship-AddressHeading{
	font-family: 'Paytone One',sans-serif;
    font-size: 16px;
	color:#68C04A;
	margin-right:40px;
	
}

.address-details p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-bottom:20px;
	margin-top:20px;
}

.address-details a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#68C04A;
	margin-top:20px;
}

.address-button{
	width:118px;
	height:16px;
	color:#FFF;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #67C247), color-stop(1, #2FA206) );
	background:-moz-linear-gradient(center top , #67C247, #2FA206) repeat scroll 0 0 #67C247;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #67C247;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: 'Paytone One',sans-serif;
    font-size: 12px;
    margin-top: 0;
    outline: medium none;
    padding: 4px 0px 10px 3px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
}	

.name-bold{
	font-weight:bold;
}

/*Address Form*/

#suburb{
	width:100px;
	float:left;

}

#state{
	width:100px;
	float:left;
	margin-left:26px;

}

#postcode{
	width:100px;
	float:right;

}


.contact-formcontainer{
	width:260px;
	height:370px;
	float:left;
	display:block;
		
}

form{

	width:390px;
	float:left;
	display:block;
	margin-top:12px;
}

form div{
	width:390px;
	
}

form label{
	width:390px;	
	display:block;
	float:right;
	margin-bottom:5px;
	color:#57E7FF;
	font-size:13px;
}


.form-fields, textarea{
	width:380px;
	line-height:17px;
	height:20px;
	font-size:12px;
	font-family:Helvetica, Arial, sans-serif;
	padding:5px;
	border:1px solid #999999;
	outline:none;
	background-color:#FFF;
	color:#000;
	margin-bottom:8px;
	border-radius:5px;
}





textarea{
	width:230px;
	padding:5px;
	height:130px;
	resize:vertical;
}



.form-fields[type=submit]{
	width:118px;
	height:30px;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #67C247), color-stop(1, #2FA206) );
	background:-moz-linear-gradient(center top , #67C247, #2FA206) repeat scroll 0 0 #67C247;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	color:#FFF;
	font-family: 'Paytone One',sans-serif;
	font-size:12px;
	padding:1px 4px 4px 4px;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
	text-decoration:none;
	float:right;
	cursor:pointer;
	border:0px none;
	/*text-indent:-9999px; make text disapear*/
}


.form-fields:focus{/*when user clicks on tabs*/
	height:20px;
	font-size:13px;
	font-weight:normal;
	color:#000;
}
/*Address Form End*/

.payment-Div{
	background: url("../images/wishlist-item-backing.png") repeat-x scroll 0 0 transparent;
    min-height: 350px;
    width: 945px;
	margin-top:64px;
	margin-bottom:20px;
}

.payment-options{
	width:312px;
	height:130px;
	float:left;
	padding-left:18px;
	padding-top:12px;
	margin-top:14px;
	
	
}

.payment-heading{
	font-family: 'Paytone One',sans-serif;
    font-size: 16px;
	color:#68C04A;
	
}

.payment-button{
	width:80px;
	height:16px;
	color:#FFF;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #67C247), color-stop(1, #2FA206) );
	background:-moz-linear-gradient(center top , #67C247, #2FA206) repeat scroll 0 0 #67C247;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #67C247;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: 'Paytone One',sans-serif;
    font-size: 12px;
    margin-top: 0;
    outline: medium none;
    padding: 4px 0px 10px 3px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
}	

.payment-type{
	width:262px;
	height:40px;
	float:left;
	margin-top:20px;
	margin-bottom:16px;

}

.payment-type input{
	vertical-align:middle;
}

.payment-cc{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	float:right;
	height:14px;
	width:70px;
	margin-top:-12px;
	
}

.radio-btn{
	width:16px;
	height:16px;
	float:left;
	margin-top:10px;
	margin-right:2px;
	
}

.radio-btn2{
	width:16px;
	height:16px;
	float:right;
	margin-top:10px;
	margin-right:75px;
}

.payment-type img{
	float:left;
}

.order-summary{
	width:318px;
	height:233px;
	float:right;
	padding-top:12px;
	background-color:#FFF;
	margin-right:50px;
	border-radius:5px;
	margin-top:14px;
	
}

.order-heading{
	font-family: 'Paytone One',sans-serif;
    font-size: 16px;
	color:#68C04A;
	margin-left:14px;
	
}

.summary-list{
	width:284px;
	height:150px;
	float:left;	
	margin-left:16px;
	margin-top:20px;
}

.order-list{
	width:284px;
	height:129px;
	float:left;	
	
}

.order-items{
	width:170px;
	height:134px;
	float:left;	
		
}


.order-items li{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:18px;
}

.order-items ul{
	list-style-type: none;
}

.payment-total{
	width:318px;
	height:40px;
	float:left;	
	background-color:#E8E8E8;
	border-radius:5px;
}

.payment-text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	float:left;
	margin-left:16px;
	margin-top:12px;
	
}

.payment-cost{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	float:right;
	margin-right:19px;
	margin-top:12px;
}

